<template>
    <div class="row">
        <div class="col-lg-8 m-auto">
            <card :title="$t('login')">
                <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                    <!--E-mail-->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('user_login') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.username" :class="{ 'is-invalid': form.errors.has('user_login') }" class="form-control" type="text" name="user_login">
                            <has-error :form="form" field="user_login"/>
                        </div>
                    </div>

                    <!--password-->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">{{ $t('password') }}</label>
                        <div class="col-md-7">
                            <input v-madel="form.password" :class="{ 'is-invalid': form.errors.has('password') }" type="password" name="password">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>
                    <!--remember me-->
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="col-md-7 d-flex">
                                <checkbox v-model="remember" name="remember">
                                    {{ $t('remember_me') }}
                                </checkbox>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-7 d-flex">
                                    <v-button :loading="form.busy">
                                        {{ $t('login') }}
                                    </v-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </card>
        </div>
    </div>
</template>

<script>
import Form from 'vform'

export default {
   middleware: 'guest',
   components: [],
   mataInfo() {
        return {title: this.$t('login')}
    }, 
    data: ()=> ({
        form: new Form({
            user_login: '',
            password: '',
        })
    }),
    methonds:{
        async logIn(){
            console.log('LogIn')
        }
    }
}
</script>
