
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ Default_title }}</title>
        <base href="/">
        <link rel="shortcut icon" href="{% static '/resources/icons/favicon.ico' %}" type="image/x-icon"/>
        <link rel="stylesheet" href="{% static '/css/app.css' %}">
        <script>
            window.config = {
                appName: 'Body_parts',
                locale: 'ru',
                locales: {
                    'ru': 'Русский',
                    'en': 'English',
                }
            }
        </script>
    </head>
    <body>
        <div id="app"></div>
        <script src="{% static '/js/app.js' %}"></script>
    </body>
</html>