<template>
  <div class="hello">
    <form @submit.prevent="submitForm">
      <div class="form-group row">
        <input type="text" class="form-control col-3 mx-2" placeholder="Name" v-model="student.name">
        <input type="text" class="form-control col-3 mx-2" placeholder="Course" v-model="student.course">
        <input type="text" class="form-control col-3 mx-2" placeholder="Rating" v-model="student.rating">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
    
    <table class="table">
      <thead>
        <th>name</th>
        <th>Course</th>
        <th>Rating</th>
      </thead>
      <tbody>
        <tr v-for="student in students" :key="student.id" @dblclick="$data.student = student">
          <td>{{ student.name }}</td>
          <td>{{ student.course }}</td>
          <td>{{ student.rating }}</td>
          <td><button class="btn btn-outline-danger sm mx-1" @click="deleteStudent(student)">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      student: {},
      students: []
    }
  },
  metaInfo:{
    title: 'home'
  },
  async created(){
    await this.getStudents()
  },
  methods: {
    submitForm(){
      if (this.student.id === undefined){
        this.createStudent()
      }else {
        this.editStudent()
      }
    },
    async getStudents(){
      var response = await fetch('http://localhost:8000/api/students/')
      this.students = await response.json()
    },
    async createStudent(){
      await this.getStudents()

      await fetch('http://localhost:8000/api/students/', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      await this.getStudents()
    },
    async editStudent(){
      await this.getStudents()

      await fetch(`http://localhost:8000/api/students/${this.student.id}/`, {
        method: 'put',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      await this.getStudents()
      this.student = {}
    },
    async deleteStudent(student){
      await this.getStudents()

      await fetch(`http://localhost:8000/api/students/${student.id}/`, {
        method: 'delete',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      await this.getStudents()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
