<template>
  <div class="home">
    <h1>test2</h1>
  </div>
</template>
<script>
export default {
  name: 'test2',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  metaInfo:{
    title: 'test2'
  },
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>