<template>
  <div class="main-layout">
    <navbar/>

    <div class="container-fluid">
      <child/>
    </div>
  </div>
</template>

<script>
import navbar from '~/components/navbar'

export default {
  name: 'MainLayout',
  components: { navbar }
}
</script>
