<template>
  <div id="app">

    <li class="nav-item">
      <router-link class="nav-link" to="/test1">test1</router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" to="/test2">test2</router-link>
    </li>
    <li class="nav-item">
    <router-link class="nav-link" to="/">home</router-link>
    </li>

    
    <router-view/>
  </div>
</template>

<script>

  
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
